.bg {
    background-color: white;
    border:3px solid #f1f1f1 ;
    padding: 5px 40px;
    box-shadow: -0.9px -0.9px 4px #333 ;
    border-radius: 10px;
}

.background {
    background-image: url("../../img/about-banner.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}